{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Birds!{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for bird in birds %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('blog.update', id=bird['id']) }}"></ahref>{{ bird['common_name'] }}</a></h1>
          <div class="about"> 
            Seen this week? 
            {% if bird['week'] == this_week %}
            <b>✔️</b></br>
            {% else %}
            <b>❓</b></br>
            {%endif%}
            <a href={{ bird['info_url'] }} > Bird Facts </a></br>
          </div>
          <div class="right">
            {% if bird['picture_url'] is defined and bird['picture_url'] %}
            {% set picture_url = bird['picture_url'] %}
           {% else %}
             {%  set picture_url =  "http://clipart-library.com/images/kTMK4Gkbc.png" %}
           {% endif %}
           <a href="{{ url_for('blog.sighting', id=bird['id']) }}"><img src="{{picture_url}}" alt="Bird Picture" width=200 height=auto  ></a>
          </div>
        </div>
      </header>
      





    </article>
      <hr>
  {% endfor %}


{% endblock %}